<!DOCTYPE HTML>
<html>
    <head>
        <title>Admin Panel</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Minimal Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
        Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <link href="{{ base_url() }}/assets/admin/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
        <!-- Custom Theme files -->
        <link href="{{ base_url() }}/assets/admin/css/style.css" rel='stylesheet' type='text/css' />
        <link href="{{ base_url() }}/assets/admin/css/font-awesome.css" rel="stylesheet">
        <script src="{{ base_url() }}/assets/admin/js/jquery.min.js"> </script>
        <!-- Mainly scripts -->
        <script src="{{ base_url() }}/assets/admin/js/jquery.metisMenu.js"></script>
        <script src="{{ base_url() }}/assets/admin/js/jquery.slimscroll.min.js"></script>
        <!-- Custom and plugin javascript -->
        <link href="{{ base_url() }}/assets/admin/css/custom.css" rel="stylesheet">
        <script src="{{ base_url() }}/assets/admin/js/custom.js"></script>
        <script src="{{ base_url() }}/assets/admin/js/screenfull.js"></script>
        <script>
            $(function () {
                $('#supported').text('Supported/allowed: ' + !!screenfull.enabled);

                if (!screenfull.enabled) {
                    return false;
                }

                $('#toggle').click(function () {
                    screenfull.toggle($('#container')[0]);
                });
            });
        </script>

        <script src="{{ base_url() }}/assets/admin/js/skycons.js"></script>
    <!--//skycons-icons-->
    </head>
    <body>
        <div id="wrapper">
            {% include 'admin/templates/header.twig' %}
            <div class="clearfix"></div>

            <div id="page-wrapper" class="gray-bg dashbard-1">
                <div class="content-main">
                <!--banner-->
                    <div class="banner">
                        <h2>
                            <a href="index.html">Home</a>
                            <i class="fa fa-angle-right"></i>
                            <span>Dashboard</span>
                        </h2>
                    </div>

                    <div class="content-top">
                        <div class="col-md-12">
                        {% if flash.getMessage('info').0 %}
                            <div class="alert alert-info">
                                {{ flash.getMessage('info').0 }}
                            </div>
                        {% endif %}

                        {% if flash.getMessage('success').0 %}
                            <div class="alert alert-success">
                                {{ flash.getMessage('success').0 }}
                            </div>
                        {% endif %}

                        {% if flash.getMessage('error') %}
                            {% for error in flash.getMessage('error') %}
                                <div class="alert alert-danger">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}


                        {% block content %}{% endblock %}

                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
            <!--//banner-->
    <!--scrolling js-->
        <script src="{{ base_url() }}/assets/admin/js/jquery.nicescroll.js"></script>
        <script src="{{ base_url() }}/assets/admin/js/scripts.js"></script>
        <!--//scrolling js-->
        <script src="{{ base_url() }}/assets/admin/js/bootstrap.min.js"> </script>
    </body>
</html>

